$s-flag_de = 38px 0px -38px 0px 14px 11px 52px 47px 'sprite.png';
$s-flag_fr = 38px 14px -38px -14px 14px 11px 52px 47px 'sprite.png';
$s-flag_gb = 0px 36px 0px -36px 14px 11px 52px 47px 'sprite.png';
$s-flag_ru = 17px 36px -17px -36px 14px 11px 52px 47px 'sprite.png';
$s-logo_ch = 0px 0px 0px 0px 16px 15px 52px 47px 'sprite.png';
$s-logo_ff = 0px 18px 0px -18px 15px 15px 52px 47px 'sprite.png';
$s-logo_ie = 19px 0px -19px 0px 16px 15px 52px 47px 'sprite.png';
$s-logo_sf = 18px 18px -18px -18px 14px 15px 52px 47px 'sprite.png';
