@font-face
	font-family 'HelveticaNeueBold'
	src url(../fonts/HelveticaNeueBold.woff) format("woff")
	font-weight bold

@font-face
	font-family 'MyriadPro'
	src url(../fonts/MyriadProRegular.woff) format("woff")
	font-weight normal

@font-face
	font-family 'MyriadPro'
	src url(../fonts/MyriadProBold.woff) format("woff")
	font-weight bold

// @import ('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&subset=cyrillic')
