include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title our-services
		include inc/head
	body(class="p-our-services")
		
		.b-common-wrap
			+b('header').header
				.b-container
					+e('').top
						+e('').wrap
							+e('').left
								+b('span').logo
									+e('img')(src='img/logo.png')
								+b('nav').nav
									+e('a')(href='#').item О компании
									+e('a')(href='#').item Услуги
									+e('a')(href='#').item_active Портфолио
									+e('a')(href='#').item Цены
									+e('a')(href='#').item Статьи
									+e('a')(href='#').item Контакты
							+e('').right
								+b('span').phone (812) 936 16 65 
						+b('a').button_callback Обратный звонок
					+e('span').title Наши услуги
					+e('').text
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			+b('section').our-services
				.b-container
					+b('').tabs
						+e('input')(type='radio' name='tabs' id='tab-1' checked)
						+e('label')(for='tab-1').tab Устройство коробки дома
						+e('input')(type='radio' name='tabs' id='tab-2')
						+e('label')(for='tab-2').tab Устройство кровли
						+e('').content_tab-1
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						+e('').content_tab-2
							p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					+b('').stuff-list
						+e('').tr
							+e('').cell
								+e('a')(href='#').link газобетон
							+e('').cell
								+e('a')(href='#').link керамзитобетон
							+e('').cell
								+e('a')(href='#').link кирпич
						+e('').tr
							+e('').cell
								+e('a')(href='#').link кирпич
							+e('').cell
								+e('a')(href='#').link газобетон
							+e('').cell
								+e('a')(href='#').link керамзитобетон
					+b('').images-2
						+e('img')(src='img/our-services-img.jpg')
						+e('img')(src='img/our-services-img.jpg')
						+e('img')(src='img/our-services-img.jpg')
						+e('img')(src='img/our-services-img.jpg')
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			+b('section').calculator
				.b-container
					+e('').table-wrap
						+e('').left
							+e('span').title Калькулятор стоимости
							+e('p').caption Если вы уже определились с типом и размерами подходящего Вам фундамента, Вы можете воспользоваться нашими онлайн-калькуляторами:
							+b('').list-calc
								+e('').tr
									+e('').cell
										+b('a')(href='#').link Расчет ленточного фундамента
									+e('').cell
										+b('a')(href='#').link Расчет стоимости цокольного этажа
								+e('').tr
									+e('').cell
										+b('a')(href='#').link Расчет монолитной плиты
									+e('').cell
										+b('a')(href='#').link Расчет свайного фундамента
								+e('').tr
									+e('').cell
										+b('a')(href='#').link Расчет утепленной шведской плиты
									+e('').cell
										+b('a')(href='#').link Индивидуальный расчет
						+e('').right



		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")