header.header
	.container.header__container
		nav.menu
			a(href="").menu__item Womens
			a(href="").menu__item Mens
			a(href="").menu__item.menu__item_active Children
			a(href="").menu__item Footwear
			a(href="").menu__item Accessories
			a(href="").menu__item Outlet
			a(href="").menu__item Designer
			a(href="").menu__item Community
		ul.langs.header__langs
			li.langs__item
				a(href="").langs__link.langs__link_gb
			li.langs__item
				a(href="").langs__link.langs__link_ru
			li.langs__item
				a(href="").langs__link.langs__link_de
			li.langs__item
				a(href="").langs__link.langs__link_fr
