+b('footer').footer
	+e('').logo
		+e('img')(src='img/logo-footer.png')
	.b-container
		+e('').table-wrap
			+e('').left
				+e('').copy
					+e('').left-copyright
						+e('span').copyright-ico
					+e('').right-copyright
						+e('') 	&#169; 2007-2016 ООО "Фундамент СПб" | <a href='#'>www.fundament-spb.ru</a>
						+e('') Все права защищен
			+e('').right
				+b('span').swd
					+e('img')(src='img/swd.png')