+b('header').header
	.b-container
		+e('').top
			+e('').wrap
				+e('').left
					+b('span').logo
						+e('img')(src='img/logo.png')
					+b('nav').nav
						+e('a')(href='#').item О компании
						+e('a')(href='#').item Услуги
						+e('a')(href='#').item_active Портфолио
						+e('a')(href='#').item Цены
						+e('a')(href='#').item Статьи
						+e('a')(href='#').item Контакты
				+e('').right
					+b('span').phone (812) 936 16 65 
			+b('a').button_callback Обратный звонок
		+e('span').title Портфолио
		+e('').text
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.